
<div class="container-fluid">
<a href="/products/add" class="btn btn-primary btn-lg">Agregar Producto</a>
<a href="/modules" class="btn btn-primary btn-lg m-2">Regresar</a>
<nav aria-label="...">
  <ul class="pagination pagination-lg">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">1</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
  </ul>
</nav>
<div class="row">
    {{#each products }}
        <div class="col-lg-3 col-sm-6">
            <div class="card h-100 p-2">
                <div class="card-body">
                {{!-- <div class="card-body text-center"> --}}
                    <p class="lead"> Nombre producto: </p>
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        {{name}} <a href="/products/edit/{{_id}}"><i class="fas fa-edit"></i></a>
                    </h4>
                    <p class="card-text">
                        {{description}}
                    </p>
                    <p class="lead"> Expira: </p>
                    <p class="card-text">
                        {{enddate}}
                    </p>
                    <form action="/products/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger btn-block btn-sm" type="submit">
                            Eliminar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {{else}}
        <div class="card mx-auto">
            <div class="card-body">
                <p class="lead"> No hay productos disponibles.!</p>
                <a href="products/add" class="btn btn-success btn-block"> Agregar un producto.</a>
            </div>
        </div>
    {{/each}}
</div>
</div>
